
* {
    box-sizing:border-box;
    border:0 solid #e2e8f0;
}

a{
    color:inherit;
    text-decoration:inherit
}

.bg-green{
    --tw-bg-opacity: 1;
    background-color:rgb(1 55 3 / var(--tw-bg-opacity));
}

.flex{
    display:flex;
}

.grid{
    display:grid;
}

.text-sm{
    font-size:.875rem;
}

.text-lg{
    font-size:1.125rem;
}

.mt-8{
    margin-top:2rem;
}

.ml-12{
    margin-left:3rem;
}

.max-w-6xl{
    max-width:72rem;
}

.min-h-screen{
    min-height:100vh;
}

.p-6{
    padding:1.5rem;
}

.px-6{
    padding-left:1.5rem;
    padding-right:1.5rem;
}

.fixed{
    position:fixed;
}

.top-0{
    top:0;
}

.right-0{
    right:0;
}

.underline{
    text-decoration:underline;
}

.antialiased{
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    background-color: #1e7e34;
}
.w-5{
    width:1.25rem;
}

.w-8{
    width:2rem;
}

@media (min-width:640px){
    .sm\:hidden{
        display: none;
    }
    .sm\:rounded-lg{
        border-radius:.5rem;
    }
    .sm\:block{
        display:block;
    }
    .sm\:items-center{
        align-items:center;
    }
    .sm\:justify-start{
        justify-content:flex-start;
    }
    .sm\:justify-between{
        justify-content:space-between;
    }
    .sm\:h-20{
        height:5rem;
    }
    .sm\:ml-0{
        margin-left:0;
    }
    .sm\:px-6{
        padding-left:1.5rem;
        padding-right:1.5rem;
    }
    .sm\:pt-0{
        padding-top:0;
    }
    .sm\:text-left{
        text-align:left;
    }
    .sm\:text-right{
        text-align:right;
    }
}

@media (min-width:768px){
    .md\:border-t-0{
        border-top-width:0;
    }
    .md\:border-l{
        border-left-width:1px;
    }
    .md\:grid-cols-2{
        grid-template-columns:repeat(2,minmax(0,1fr));
    }
}

@media (min-width:1024px){
    .lg\:px-8{
        padding-left:2rem;
        padding-right:2rem;
    }
}

@media (prefers-color-scheme:green){
    .green\:bg-gray-800{
        --tw-bg-opacity: 1;
        background-color: #2ca02c; /*rgb(31 41 55 / var(--tw-bg-opacity));*/
    }
    .green\:bg-gray-900{
        --tw-bg-opacity: 1;
        background-color: #1c7430; /*rgb(17 24 39 / var(--tw-bg-opacity));*/
    }
    .green\:border-gray-700{
        --tw-border-opacity: 1;
        border-color:rgb(55 65 81 / var(--tw-border-opacity));
    }
    .green\:text-white{
        --tw-text-opacity: 1;
        color:rgb(255 255 255 / var(--tw-text-opacity));
    }
}

/* ---------------Cards --------------*/
.card-my {
    border-radius: .5rem;
    background-color: #cfe7da;
    margin-bottom: 5px;
}

.btn-assinar{
    width: 120px;
    margin: 10px;
    grid-auto-columns: fit-content(50vw);
}
.btn-conta{
    width: 180px;
    margin: 10px;
}

/* --------- estilos para formularios ---------*/
.form-admin{
    margin: 30px;
    padding: 40px;
    width: 90%;
    border: none;
    background-color: rgba(207, 231, 218, 0.25);
    border-radius: 8px;
    box-shadow: 0px 8px 20px 5px rgba(0, 0, 0, 0.25);
    elevation: higher;
}

.choice-wrapper-my {
    height: 0.8em !important;
    display: inline !important;
    margin-left: 10px;
    width: 1em;
}
.label-class{
    margin-left: 8px;
}

.btn-salvar {
    width: 120px;
    margin: 10px;
    background-color: #1c7430;
    color: #FFFFFF;
}
.btn-salvar:hover{
    background-color: #2ca02c;
}

.btn-deletar {
    width: 120px;
    height: 38px;
    margin: 10px;
    background-color: #d62728;
    color: #FFFFFF;
}
.btn-deletar:hover{
    background-color: #721c24;
}

.btn-cancelar {
    width: 120px;
    height: 38px;
    margin: 10px;
    background-color: #6b7280;
    color: #FFFFFF;
}
.btn-cancelar:hover{
    background-color: #1d2124;
}

.my-field{
    border-radius: 5px;
    border: solid #1c7430 1px;
}

.label-form {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.required{
    color: red;
    font-style: italic;
}

.my-alert{
    flex: content;
    width: 300px;
    height: 60px;
    margin: 10px!important;
    padding: 5px!important;
    color: #0f5132;
    background-color: #d6eeF0;
}

/* ----------- layout do show adm -------------*/
#register-show{
    width: 98%;
    background: rgba(207, 231, 218, 0.25); /*#cce5ff; */
    padding: 50px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#register-show .bloco-div-show {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.desk{
    display: flex;
    justify-content: space-between;
}

.desk-esq{
    display: flex;
    justify-content: flex-start!important;
}

.nome{
    width: 48%;
}
.saldo{
    width: 30%;
    margin-left: 10px;
    margin-right: 5px;
}

.label-show{
    margin-bottom: 4px;
}

.texto-show{
    background: #FFFFFF;
    height: 40px;
    border: solid 0.5pt #1c7430;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.dt-nasc {
    width: 24% !important;
}
.font-small{
    font-size: small;
}
.ft-italic{
    font-style: italic;
}
.btn-horizont{
    display: flex;
    justify-content: space-around;
}
.title{
    font-weight: bold;
    color: #1e7e34;
    font-size: 23px;
    margin-bottom: 8px;
}

@media screen and (max-width: 900px) {
    .desk {
        display: flex;
        align-items: center;
    }
    .nome {
        width: 98%;
    }
    .dt-nasc{
        width: 98%!important;
        font-size: small;
    }
    .btn-conta{
        width: 120px;
        margin: 5px;
    }
}
/* ----------- layout do extrato -------------*/
.extr {
    display: block;
    width: 98%;
    margin-top: 5px;
    background: rgba(207, 231, 218, 0.25); /*#cce5ff; */
    padding: 50px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.extr-title {
    text-align: center;
    margin-top: 5px;
    font-size: x-large;
    font-weight: bold;
    text-transform: uppercase;
}
.extr-linh{
    border-top: #005cbf 5px solid;
    border-bottom: #005cbf 5px solid;
    height: 5px;
}

